altgraph==0.17.4
importlib_resources==6.4.0
joblib==1.4.2
numpy==2.0.0
ordered-set==4.1.0
packaging==24.1
pandas==2.2.2
pyelftools==0.31
python-dateutil==2.9.0.post0
pytz==2024.1
scikit-learn==1.5.1
scipy==1.14.0
setuptools==71.0.1
six==1.16.0
staticx==0.14.1
threadpoolctl==3.5.0
tzdata==2024.1
zstandard==0.23.0
