[Unit]
Description=Cocos Attestation Service
After=network.target
Wants=attestation-agent.service

[Service]
Type=simple
ExecStart=/usr/bin/attestation-service
Restart=always
RestartSec=5
Environment=ATTESTATION_LOG_LEVEL=debug
Environment=ATTESTATION_SERVICE_SOCKET=/run/cocos/attestation.sock
Environment=ATTESTATION_VMPL=2
Environment=ATTESTATION_EAT_FORMAT=CBOR
# CC Attestation-Agent backend (conditionally enabled by buildroot)
Environment=USE_CC_ATTESTATION_AGENT=false
Environment=CC_AGENT_ADDRESS=127.0.0.1:50002
ExecStartPre=/cocos_init/attestation_setup.sh

[Install]
WantedBy=multi-user.target
