[Unit]
Description=Cocos AI agent
After=network.target

[Service]
StandardOutput=file:/var/log/cocos/agent.stdout
StandardError=file:/var/log/cocos/agent.stderr

Environment=AGENT_GRPC_HOST=10.0.0.1
Environment=AGENT_GRPC_PORT=7002
Environment=AGENT_LOG_LEVEL=info

ExecStart=/bin/cocos-agent

[Install]
WantedBy=default.target
