name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.23.x

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v6
        with:
          version: v1.60

      - name: Build
        run: |
          make

      - name: Create coverage directory
        run: |
          mkdir coverage

      - name: Run Agent tests
        run: go test -v --race -covermode=atomic -coverprofile coverage/agent.out ./agent/...

      - name: Run cli tests
        run: go test -v --race -covermode=atomic -coverprofile coverage/cli.out ./cli/...

      - name: Run cmd tests
        run: go test -v --race -covermode=atomic -coverprofile coverage/cmd.out ./cmd/...

      - name: Run internal tests
        run: go test -v --race -covermode=atomic -coverprofile coverage/internal.out ./internal/...

      - name: Run pkg tests
        run: go test -v --race -covermode=atomic -coverprofile coverage/pkg.out ./pkg/...

      - name: Run manager tests
        run: sudo go test -v --race -covermode=atomic -coverprofile coverage/manager.out ./manager/...

      - name: Upload results to Codecov
        uses: codecov/codecov-action@v4
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: ./coverage/*.out
          codecov_yml_path: codecov.yml
          verbose: true
